volumes:
  data:

networks:
  api:
      driver: bridge

  back:
      internal: true

version: '3.3'
services:
  api:
    image: mistayan/order-manager:latest
    container_name: order-manager
    restart: always
    ports:
      - "1117:1117"
    volumes:
      - data:/data

    environment:
      - SERVER_URL=0.0.0.0
      - SERVER_PORT=1117
      - LOGGING_LEVEL_ROOT=INFO
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK=INFO
      - LOGGING_LEVEL_ORG_HIBERNATE=INFO
      - spring_datasource_driver-class-name=org.postgresql.Driver
      - spring_datasource_url=jdbc:postgresql://postgres_db:5432/postgres
      - spring_datasource_username=postgres
      - spring_datasource_password=1234
      - spring_datasource_schema=public

    depends_on:
        - postgres_db

    healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:1117/actuator/health"]
        interval: 30s
        timeout: 10s
        retries: 5

    networks:
      - back
      - api

  postgres_db:
    image: postgres:latest
    container_name: postgres_db
    restart: always
    ports:
      - "5432:5432"
    volumes:
        - data:/var/lib/postgresql/data
    environment:
        - POSTGRES_DB=postgres
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=1234
        - POSTGRES_SCHEMA=public

    healthcheck:
        test: ["CMD", "pg_isready", "-U", "postgres"]
        interval: 30s
        timeout: 10s
        retries: 5

    networks:
      - back